@import url(https://fonts.googleapis.com/css?family=Raleway);

:root {
    --corPrincipal: #2433D8;
    --corEscura1: #0051DB;
    --corEscura2: #6548DB;
    --corClaro1: #0090DB;
    --corClaro2: #9746DB;
    --corSuavizar1: #5990f050;
    --corSuavizar2: #0050db56;
    --corSuavizar3: #6548db20;
    --Bg1: #6548db20;
    --Bg2: #008edb20;
    --Lay1: #11165540;
}

h2 {
    vertical-align: center;
    text-align: center;
    user-select: none;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    margin: 0;
    height: 100%;
}

* {
    font-family: "Raleway";
    box-sizing: border-box;
    user-select: none;
}

.logo-icon-container {
    font-size: 3em;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #FFF;
    height: 6em;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;

    a {
        user-select: none;
        background-color: #00000060;
        color: white;
        text-decoration: none;
        padding: 5px;
    }
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    user-select: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    user-select: none;
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

main {
    background-image: linear-gradient(to top ,var(--Bg1), var(--Bg2));
    max-width: 1200px;
    margin: auto;

    h1 {
        text-align: center;
        color: white;
        margin: 15px;
        text-shadow: 2px 2px 2px black;
    }
    .destaque {
        display: flex;
        flex-wrap: wrap;
        background-color: #00000020;

        .produto-destacado {
            display: flex;
            background-color: black;
            align-items: center;
            width: 100%;
            color: white;
            margin: 10px 0px;
            padding: 5px;


            .produto-destacado-img {
                max-width: 128px;
                max-height: 128px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .produto-destacado-conteudo {
                background-image: linear-gradient(var(--corClaro1), var(--corSuavizar2));
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-left: 15px;
                padding: 5px;
                text-decoration: 2px 2px 2px black;

                h3 {
                    text-align: center;
                }

                h4 {
                    text-align: center;
                    font-size: 1.1em;
                }

                a {
                    text-align: center;
                    text-decoration: none;
                    padding: 5px;
                    color: white;
                    background-color: var(--corEscura2);
                    transition: 0.2s;
                }

                a:hover {
                    background-color: #ffffff51;
                }
            }
        }
    }

    .categorias {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;

        .categoria {
            display: flex;
            align-items: center;
            margin: auto;
            height: 150px;
            width: 150px;
            border: 5px solid black;
            border-radius: 5px;
            margin: 5px;

            a {
                margin: auto;
                text-decoration: none;
                padding: 10px;
                background-color: white;
                border: 2px solid black;
                border-radius: 15px;
                color: black;
            }

            a:hover {
                background-color: #d2d2d2;
            }
        }

        #categoria-slot1 {
            background-image: url("recursos/categorias/sub-eletronico.jpg");
            background-size: 150px;
        }
        #categoria-slot2 {
            background-image: url("recursos/categorias/sub-casa.jpg");
            background-size: 150px;
        }
        #categoria-slot3 {
            background-image: url("recursos/categorias/eub-financas.jpg");
            background-size: 150px;
        }
        #categoria-slot4 {
            background-image: url("recursos/categorias/eub-negocios.jpg");
            background-size: 150px;
        }
    }


    .sobre-nos {
        background-color: #00000080;
        padding: 15px 0px;

        .sobre-nos-pergunta {
            text-align: center;
            color: black;
            margin: 5px 0px;

            button {
                font-family: Arial, Helvetica, sans-serif;
                width: 100%;
                font-size: 1.15em;
                transition: 0.5s;
            }

            button:hover {
                background-color: #ffffffb4;
            } 

            p {
                background-image: linear-gradient(to right,var(--corSuavizar1), #b3e4ffe9);
            }
        }
    }
}


footer {
    background-color: black;
    text-align: center;
    padding: 5px;

    a {
        color: white;
    }
}

@media (max-width: 1000px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0px;
        margin-top: 75px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    main {
        padding: 25px;
    }
}

.esconder {
    overflow: hidden;
    height: 0em;
    transition: 1s;
}

.aparecer {
    overflow: hidden;
    height: 9em;
    transition: 1s;
}