@import url(https://fonts.googleapis.com/css?family=Raleway);

:root {
    --corPrincipal: #2433D8;
    --corEscura1: #0051DB;
    --corEscura2: #6548DB;
    --corClaro1: #0090DB;
    --corClaro2: #9746DB;
    --corSuavizar1: #5990f050;
    --corSuavizar2: #0050db56;
    --corSuavizar3: #6548db20;
    --Bg1: #6548db20;
    --Bg2: #008edb20;
    --Lay1: #11165540;
}


html, body {
    margin: 0;
    height: 100%;
}

* {
    font-family: "Raleway";
    box-sizing: border-box;
    user-select: none;
}

.logo-icon-container {
    font-size: 3em;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #FFF;
    height: 6em;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;

    a {
        user-select: none;
        background-color: #00000060;
        color: white;
        text-decoration: none;
        padding: 5px;
    }
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    user-select: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    user-select: none;
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}



/* Main */
main {
    padding: 0px;
    margin: 0px;
    /* Classe Principal */
    h2 {
        text-align: center;
        font-size: 1.6em;
        background-color: var(--Lay1);
        padding: 0.8em;
        margin: 0px;
    }

    div.Categoria {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
        margin: 1.2em 0;

        .Imagem-Categoria {
            height: 150px;
            width: 150px;
            border: 2px solid black;
            align-self: center;
            overflow: hidden;
            img {
                height: 150px;
                width: 150px;
            }
        }

        a {
            margin: auto;
            width: max-content;
            text-decoration: none;
            background-color: #000000;
            color: #fff;
            padding: 0.1em 0.6em;
            border-radius: 2em;
        }
    }
    

    .Principais {
        display: flex;
    }

    /* Categoria Secundaria */

    .Gaveta {
        display: flex;
        flex-direction: column;
        overflow: hidden;


        .Gaveta-Master {
            display: flex;
            flex-direction: row;
            background-color: var(--corSuavizar3);
            border: 2px solid black;
            margin: auto;

            .Imagem-Gaveta {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                min-width: 200px;
                max-width: 200px;
                border-right: 2px solid black;

                img {
                    height: 200px;
                    width: 200px;
                    margin: auto;
                }

                button {
                    font-size: 1.1em;
                    width: 200px;
                    background-color: white;
                }
            }

            .Imagem-Produto {
                margin: 0;
                padding: 0;
                max-width: 1200px;
                display: block;
                
                h3 {
                    margin: 0;
                    padding: 0.3em;
                    background-image: linear-gradient(to left,var(--corSuavizar3), var(--corSuavizar2));
                    border-bottom: 2px solid black;
                    font-size: 1.5em;
                }

                p {
                    margin: 15px;
                }
            }
        }

        .Gaveta-Conteudo {
            display: flex;
            flex-wrap: wrap;
            background-image: linear-gradient(to top, var(--corSuavizar1),  var(--corSuavizar2));
            margin: auto;
            margin-bottom: 1em;
            border-radius: 0 0 1em 1em;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.193);
        }
    }

}


/* Footer */
footer {
    background-color: black;
    text-align: center;
    padding: 5px;

    a {
        color: white;
    }
}




/* Media Query */
@media (max-width: 1000px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    main {
        background-image: linear-gradient(var(--Bg1), var(--Bg2));

        .Gaveta .Gaveta-Master {
            .Imagem-Gaveta {
                border-right: none;
            }
    
            .Imagem-Produto {
                margin: 0;
                padding: 0;
                display: none;
            }
        }

        .Gaveta-Conteudo {
            border-radius: 1em;
        }
    }
}


.esconder {
    height: 0px;
    transition: 1s;
}
